<script setup lang="ts">
import { useProductStore } from "@/stores/product";

const productStore = useProductStore();
</script>

<template>
  <v-row justify="center">
    <v-dialog v-model="productStore.deleteDialog" persistent width="auto">
      <v-card>
        <v-card-title class="text-h5">
          Confirm to delete this product ?
        </v-card-title>
        <v-card-text
          >Are you sure to delete this product from list ?</v-card-text
        >
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="green-darken-1"
            variant="text"
            @click="productStore.deleteDialog = false"
          >
            No
          </v-btn>
          <v-btn
            color="green-darken-1"
            variant="text"
            @click="productStore.deleteProduct()"
          >
            Yes
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
