<script setup lang="ts">
import MainLayout from "@/layouts/MainLayout.vue";
import FullLayout from "@/layouts/FullLayout.vue";
import LoadindDialog from "./components/LoadindDialog.vue";
import MessageDialog from "./components/MessageDialog.vue";
</script>

<template>
  <component
    :is="$route.meta.layout === 'MainLayout' ? MainLayout : FullLayout"
  />
  <LoadindDialog></LoadindDialog>
  <MessageDialog></MessageDialog>
</template>

<style scoped></style>
